<div class="w3l-footer-main">
  <div class="w3l-sub-footer-content">
      <!-- <section class="_form-3">
          <div class="form-main">
              <div class="container">
                  <div class="middle-section grid-column top-bottom">
                      <div class="image grid-three-column">
                          <img src="assets/images/subscribe.png" alt="" class="img-fluid radius-image-full">
                      </div>
                      <div class="text-grid grid-three-column">
                          <h2>Subscribe our Newsletter to receive latest updates from us</h2>
                          <p>We won’t give you spam mails.</p>
                      </div>
                      <div class="form-text grid-three-column">
                          <form action="/" method="GET">
                              <input type="email" name=" placeholder" placeholder="Enter Your Email" required="">
                              <button type="submit" class="btn btn-style btn-primary">Submit</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section> -->
      <!-- Footers-14 -->
      <footer class="footer-14">
        <div id="footers14-block">
            <div class="container">
                <div class="footers20-content">
                    <div class="d-grid grid-col-4 grids-content">
                        <div class="column">
                            <h4>Our Address</h4>
                              <p>Chittagong University, Hathazari
                                Chittagong, 4331
                                Bangladesh</p>
                        </div>
                        <div class="column">
                            <h4>Call Us</h4>
                            <p><a href="tel:+88-01715500243">+88-01715500243</a></p>
                            <p><a href="tel:+88-01716498248">+88-01716498248</a></p>
                            <p><a href="tel:+88-01610009090">+88-01610009090</a></p>
                        </div>
                        <div class="column">
                            <h4>Mail Us</h4>
                            <p><a href="mailto:nizamuddin_30@yahoo.com">nizamuddin_30@yahoo.com</a></p>
                            <p><a href="mailto:zahed.hasan@gmail.com">zahed.hasan@gmail.com</a></p>
                            <p><a href="mailto:nafsobhan@gmail.com">mailto:nafsobhan@gmail.com</a></p>
                        </div>
                        <div class="column">
                            <h4>Follow Us On</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/"><span class="fa fa-facebook"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a href="https://www.facebook.com/"><span class="fa fa-linkedin"
                                            aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footers14-bottom d-flex">
                    <div class="copyright">
                        <p>© 2023. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            &uarr;
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button

        </script>
        <!-- /move top -->

      </footer>

      <!-- Footers-14 -->
  </div>
  </div>
